USE [master]
GO
/****** Object:  Database [MedicalLaboratory]    Script Date: 07.05.2024 18:22:05 ******/
CREATE DATABASE [MedicalLaboratory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalLaboratory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MedicalLaboratory.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MedicalLaboratory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MedicalLaboratory_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalLaboratory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalLaboratory]
GO
/****** Object:  Table [dbo].[blood]    Script Date: 07.05.2024 18:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood](
	[id_blood] [int] NOT NULL,
	[patient] [int] NULL,
	[barcode] [int] NULL,
	[date] [nvarchar](150) NULL,
 CONSTRAINT [PK_blood] PRIMARY KEY CLUSTERED 
(
	[id_blood] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_services]    Script Date: 07.05.2024 18:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_services](
	[id_blood_dervices] [int] IDENTITY(1,1) NOT NULL,
	[id_blood] [int] NULL,
	[id_user] [int] NULL,
	[service] [int] NULL,
	[result] [decimal](1, 1) NULL,
	[finished] [nvarchar](150) NULL,
	[accepted] [nvarchar](150) NULL,
	[status] [nvarchar](150) NULL,
	[analyzer] [nvarchar](150) NULL,
 CONSTRAINT [PK_blood_services] PRIMARY KEY CLUSTERED 
(
	[id_blood_dervices] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 07.05.2024 18:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_role] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 07.05.2024 18:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] NOT NULL,
	[Service] [varchar](max) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK__Услуги__3213E83F161A5AA8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07.05.2024 18:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[id_role] [int] NULL,
	[name] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[ip] [nvarchar](50) NULL,
	[lastenter] [date] NULL,
	[services] [nvarchar](255) NULL,
	[type] [int] NULL,
 CONSTRAINT [PK__users__3213E83FF29BCC7D] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[blood] ([id_blood], [patient], [barcode], [date]) VALUES (1, 792, 7270614, N'1593529155000')
INSERT [dbo].[blood] ([id_blood], [patient], [barcode], [date]) VALUES (2, 455, 7881540, N'1591442744000')
INSERT [dbo].[blood] ([id_blood], [patient], [barcode], [date]) VALUES (3, 893, 9454083, N'1568771715000')
GO
SET IDENTITY_INSERT [dbo].[blood_services] ON 

INSERT [dbo].[blood_services] ([id_blood_dervices], [id_blood], [id_user], [service], [result], [finished], [accepted], [status], [analyzer]) VALUES (1, NULL, NULL, NULL, NULL, N'accepted', N'status', N'analyzer', NULL)
SET IDENTITY_INSERT [dbo].[blood_services] OFF
GO
INSERT [dbo].[roles] ([id_role], [title]) VALUES (1, N'Клиент')
INSERT [dbo].[roles] ([id_role], [title]) VALUES (2, N'Лаборант')
INSERT [dbo].[roles] ([id_role], [title]) VALUES (3, N'Лаборант-исследователь')
GO
INSERT [dbo].[services] ([id], [Service], [Price]) VALUES (176, N'Билирубин общий', 102.8500)
INSERT [dbo].[services] ([id], [Service], [Price]) VALUES (229, N'СПИД', 341.7800)
INSERT [dbo].[services] ([id], [Service], [Price]) VALUES (258, N'Креатинин', 143.2200)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [id_role], [name], [login], [password], [ip], [lastenter], [services], [type]) VALUES (2, 1, N'Clareta Hacking', N'chacking0', N'4tzqHdkqzo4', N'147.231.50.234', CAST(N'2020-10-02' AS Date), N'[{"code":557},{"code":836},{"code":287}]', 1)
INSERT [dbo].[users] ([id_user], [id_role], [name], [login], [password], [ip], [lastenter], [services], [type]) VALUES (3, 2, N'Northrop Mably', N'nmably1', N'ukM0e6', N'22.32.15.211', NULL, N'[{"code":855},{"code":619},{"code":557},{"code":836},{"code":548}]', 2)
INSERT [dbo].[users] ([id_user], [id_role], [name], [login], [password], [ip], [lastenter], [services], [type]) VALUES (4, 3, N'Fabian Rolf', N'frolf2', N'7QpCwac0yi', N'113.92.142.29', NULL, N'[{"code":543},{"code":836}]', 1)
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F2725FD5B961]    Script Date: 07.05.2024 18:22:06 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__7838F2725FD5B961] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id_role])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
