USE [master]
GO
/****** Object:  Database [MedicalLaboratory]    Script Date: 10.05.2024 11:31:39 ******/
CREATE DATABASE [MedicalLaboratory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalLaboratory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MedicalLaboratory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicalLaboratory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MedicalLaboratory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalLaboratory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalLaboratory]
GO
/****** Object:  Table [dbo].[blood]    Script Date: 10.05.2024 11:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood](
	[id_blood] [int] NOT NULL,
	[patient] [int] NULL,
	[barcode] [int] NULL,
	[date] [nvarchar](150) NULL,
 CONSTRAINT [PK_blood] PRIMARY KEY CLUSTERED 
(
	[id_blood] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_sevices]    Script Date: 10.05.2024 11:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_sevices](
	[id_blood_service] [int] NOT NULL,
	[id_blood] [int] NULL,
	[id_user] [int] NULL,
	[id_service] [int] NULL,
	[result] [decimal](6, 5) NULL,
	[finished] [nvarchar](150) NULL,
	[accepted] [nvarchar](150) NULL,
	[status] [nvarchar](150) NULL,
	[analyzer] [nvarchar](150) NULL,
 CONSTRAINT [PK_blood_sevices] PRIMARY KEY CLUSTERED 
(
	[id_blood_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 10.05.2024 11:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id_patient] [int] NOT NULL,
	[name] [nvarchar](150) NULL,
	[login] [nvarchar](150) NULL,
	[pwd] [nvarchar](150) NULL,
	[guid] [nvarchar](255) NULL,
	[email] [nvarchar](150) NULL,
	[social_sec_number] [int] NULL,
	[ein] [nvarchar](150) NULL,
	[social_type] [nvarchar](10) NULL,
	[phone] [nvarchar](15) NULL,
	[passport_seria] [int] NULL,
	[passport_number] [int] NULL,
	[birthdate_timestamp] [datetime] NULL,
	[country] [nvarchar](150) NULL,
	[insurance_name] [nvarchar](150) NULL,
	[insurance_address] [nvarchar](255) NULL,
	[ipadress] [nvarchar](20) NULL,
	[insurance_p] [nvarchar](255) NULL,
	[record] [nvarchar](255) NULL,
	[insurance_bik] [nvarchar](20) NULL,
 CONSTRAINT [PK_patients] PRIMARY KEY CLUSTERED 
(
	[id_patient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10.05.2024 11:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_role] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 10.05.2024 11:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id_servise] [int] NOT NULL,
	[service] [varchar](max) NULL,
	[price] [money] NULL,
 CONSTRAINT [PK__Услуги__3213E83F161A5AA8] PRIMARY KEY CLUSTERED 
(
	[id_servise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10.05.2024 11:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[id_role] [int] NULL,
	[name] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[ip] [nvarchar](50) NULL,
	[lastenter] [date] NULL,
	[services] [nvarchar](255) NULL,
	[type] [int] NULL,
 CONSTRAINT [PK__users__3213E83FF29BCC7D] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[blood] ([id_blood], [patient], [barcode], [date]) VALUES (1, 792, 7270614, N'1593529155000')
INSERT [dbo].[blood] ([id_blood], [patient], [barcode], [date]) VALUES (2, 455, 7881540, N'1591442744000')
INSERT [dbo].[blood] ([id_blood], [patient], [barcode], [date]) VALUES (3, 893, 9454083, N'1568771715000')
GO
INSERT [dbo].[blood_sevices] ([id_blood_service], [id_blood], [id_user], [id_service], [result], [finished], [accepted], [status], [analyzer]) VALUES (1, 1, 53, 415, CAST(0.20596 AS Decimal(6, 5)), N'1590686686000', N'ИСТИНА', N'Finished', N'Ledetect')
INSERT [dbo].[blood_sevices] ([id_blood_service], [id_blood], [id_user], [id_service], [result], [finished], [accepted], [status], [analyzer]) VALUES (2, 2, 42, 548, CAST(0.32315 AS Decimal(6, 5)), N'1579176567000', N'ИСТИНА', N'Finished', N'Ledetect')
INSERT [dbo].[blood_sevices] ([id_blood_service], [id_blood], [id_user], [id_service], [result], [finished], [accepted], [status], [analyzer]) VALUES (3, 3, 86, 229, CAST(0.87765 AS Decimal(6, 5)), N'1575674200000', N'ИСТИНА', N'Rejected', N'Ledetect')
GO
INSERT [dbo].[roles] ([id_role], [title]) VALUES (1, N'Клиент')
INSERT [dbo].[roles] ([id_role], [title]) VALUES (2, N'Лаборант')
INSERT [dbo].[roles] ([id_role], [title]) VALUES (3, N'Лаборант-исследователь')
GO
INSERT [dbo].[services] ([id_servise], [service], [price]) VALUES (176, N'Билирубин общий', 102.8500)
INSERT [dbo].[services] ([id_servise], [service], [price]) VALUES (229, N'СПИД', 341.7800)
INSERT [dbo].[services] ([id_servise], [service], [price]) VALUES (258, N'Креатинин', 143.2200)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [id_role], [name], [login], [password], [ip], [lastenter], [services], [type]) VALUES (2, 1, N'Clareta Hacking', N'chacking0', N'4tzqHdkqzo4', N'147.231.50.234', CAST(N'2020-10-02' AS Date), N'[{"code":557},{"code":836},{"code":287}]', 1)
INSERT [dbo].[users] ([id_user], [id_role], [name], [login], [password], [ip], [lastenter], [services], [type]) VALUES (3, 2, N'Northrop Mably', N'nmably1', N'ukM0e6', N'22.32.15.211', NULL, N'[{"code":855},{"code":619},{"code":557},{"code":836},{"code":548}]', 2)
INSERT [dbo].[users] ([id_user], [id_role], [name], [login], [password], [ip], [lastenter], [services], [type]) VALUES (4, 3, N'Fabian Rolf', N'frolf2', N'7QpCwac0yi', N'113.92.142.29', NULL, N'[{"code":543},{"code":836}]', 1)
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F2725FD5B961]    Script Date: 10.05.2024 11:31:40 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__7838F2725FD5B961] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id_role])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
