USE [master]
GO
/****** Object:  Database [MedicalLaboratory3]    Script Date: 18.05.2024 4:25:42 ******/
CREATE DATABASE [MedicalLaboratory3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalLaboratory3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MedicalLaboratory3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicalLaboratory3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MedicalLaboratory3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalLaboratory3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalLaboratory3]
GO
/****** Object:  Table [dbo].[Анализатор]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Анализатор](
	[id_анализатора] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](255) NULL,
 CONSTRAINT [PK_Данные о работе анализатора] PRIMARY KEY CLUSTERED 
(
	[id_анализатора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Бухгалтер]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бухгалтер](
	[id_бухгалтера] [int] NOT NULL,
	[id_счета_страховой_компании] [int] NULL,
	[id_услуги_лаборатории] [int] NULL,
 CONSTRAINT [PK_Бухгалтер] PRIMARY KEY CLUSTERED 
(
	[id_бухгалтера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[id_заказа] [int] NOT NULL,
	[id_пациента] [int] NULL,
	[barcode] [int] NULL,
	[date] [date] NULL,
	[accepted] [bit] NOT NULL,
	[status] [nvarchar](255) NULL,
	[finished] [datetime] NULL,
	[id_оказания_услуг] [int] NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[id_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЗаказыУслуги]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗаказыУслуги](
	[id_заказа_услуги] [int] NOT NULL,
	[id_заказа] [int] NULL,
	[id_услуги_лаборатории] [int] NULL,
 CONSTRAINT [PK_ЗаказыУслуги] PRIMARY KEY CLUSTERED 
(
	[id_заказа_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ИсторияВхода]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ИсторияВхода](
	[id_истории_входа] [int] NOT NULL,
	[Id_пользователя] [int] NULL,
	[дата_время_входа] [datetime] NULL,
 CONSTRAINT [PK_ИсторияВхода] PRIMARY KEY CLUSTERED 
(
	[id_истории_входа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Лаборант]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лаборант](
	[id_лаборанта] [int] IDENTITY(1,1) NOT NULL,
	[id_пользователя] [int] NULL,
 CONSTRAINT [PK_Данные лаборантов] PRIMARY KEY CLUSTERED 
(
	[id_лаборанта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЛаборантыУслуги]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЛаборантыУслуги](
	[id_лаборанта_услуги] [int] NOT NULL,
	[id_услуги_лаборатории] [int] NULL,
	[id_лаборанта] [int] NULL,
 CONSTRAINT [PK_ЛаборантыУслуги] PRIMARY KEY CLUSTERED 
(
	[id_лаборанта_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОказаниеУслуг]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОказаниеУслуг](
	[id_оказания_услуг] [int] IDENTITY(1,1) NOT NULL,
	[id_анализатора] [int] NULL,
	[результат] [decimal](6, 5) NULL,
	[id_заказа_услуги] [int] NULL,
	[статус] [nvarchar](50) NULL,
 CONSTRAINT [PK_ОказаниеУслуг] PRIMARY KEY CLUSTERED 
(
	[id_оказания_услуг] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пациент]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пациент](
	[id_пациента] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[pwd] [nvarchar](255) NULL,
	[birthdate] [date] NULL,
	[passport_s] [int] NULL,
	[passport_n] [int] NULL,
	[phone] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[social_sec_number] [int] NULL,
	[ein] [nvarchar](255) NULL,
	[id_страховой_компании] [int] NULL,
	[guid] [nvarchar](255) NULL,
 CONSTRAINT [PK_Пациент] PRIMARY KEY CLUSTERED 
(
	[id_пациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[id_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[ip] [nvarchar](255) NULL,
	[lastenter] [date] NULL,
	[services] [nvarchar](255) NULL,
	[id_роли] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роль]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роль](
	[id_роли] [int] NOT NULL,
	[наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Роль] PRIMARY KEY CLUSTERED 
(
	[id_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СтраховаяКомпания]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СтраховаяКомпания](
	[id_страховой_компании] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[country] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[inn] [int] NULL,
	[ipadress] [nvarchar](255) NULL,
	[pc] [int] NULL,
	[bik] [int] NULL,
 CONSTRAINT [PK_ДанныеСтраховыхКомпаний] PRIMARY KEY CLUSTERED 
(
	[id_страховой_компании] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СчетаСтраховойКомпании]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СчетаСтраховойКомпании](
	[id_счета_страховой_компании] [int] IDENTITY(1,1) NOT NULL,
	[id_страховой_компании] [int] NULL,
	[сумма] [money] NULL,
	[дата_начала] [date] NULL,
	[дата_окончания] [date] NULL,
 CONSTRAINT [PK_Выставленые счета страховой компании] PRIMARY KEY CLUSTERED 
(
	[id_счета_страховой_компании] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[УслугиЛаборатории]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[УслугиЛаборатории](
	[id_услуги_лаборатории] [int] NOT NULL,
	[наименование] [varchar](max) NULL,
	[стоимость] [money] NULL,
	[дата_начала_выполнения] [date] NULL,
	[среднее_отклонение] [int] NULL,
	[дата_окончания_выполнения] [date] NULL,
 CONSTRAINT [PK_Услуги_лаборатории] PRIMARY KEY CLUSTERED 
(
	[id_услуги_лаборатории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Штрихкод]    Script Date: 18.05.2024 4:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Штрихкод](
	[id_штрихкода] [int] NOT NULL,
	[id_заказа] [int] NULL,
	[код_пробирки] [nvarchar](255) NULL,
	[изображение] [image] NULL,
 CONSTRAINT [PK_Штрихкод] PRIMARY KEY CLUSTERED 
(
	[id_штрихкода] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Анализатор] ON 

INSERT [dbo].[Анализатор] ([id_анализатора], [название]) VALUES (1, N'analiz1')
INSERT [dbo].[Анализатор] ([id_анализатора], [название]) VALUES (2, N'analiz2')
INSERT [dbo].[Анализатор] ([id_анализатора], [название]) VALUES (3, N'analiz3')
SET IDENTITY_INSERT [dbo].[Анализатор] OFF
GO
INSERT [dbo].[Бухгалтер] ([id_бухгалтера], [id_счета_страховой_компании], [id_услуги_лаборатории]) VALUES (1, 1, 176)
INSERT [dbo].[Бухгалтер] ([id_бухгалтера], [id_счета_страховой_компании], [id_услуги_лаборатории]) VALUES (2, 2, 229)
INSERT [dbo].[Бухгалтер] ([id_бухгалтера], [id_счета_страховой_компании], [id_услуги_лаборатории]) VALUES (3, 3, 287)
GO
INSERT [dbo].[Заказ] ([id_заказа], [id_пациента], [barcode], [date], [accepted], [status], [finished], [id_оказания_услуг]) VALUES (1, 53, 7270614, CAST(N'2021-01-01' AS Date), 1, N'Finished
', CAST(N'2021-01-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Заказ] ([id_заказа], [id_пациента], [barcode], [date], [accepted], [status], [finished], [id_оказания_услуг]) VALUES (2, 42, 7881540, CAST(N'2021-01-02' AS Date), 1, N'Finished', CAST(N'2021-01-03T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Заказ] ([id_заказа], [id_пациента], [barcode], [date], [accepted], [status], [finished], [id_оказания_услуг]) VALUES (3, 86, 9454083, CAST(N'2021-01-03' AS Date), 1, N'Rejected', CAST(N'2021-01-04T00:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[ЗаказыУслуги] ([id_заказа_услуги], [id_заказа], [id_услуги_лаборатории]) VALUES (1, 1, 176)
INSERT [dbo].[ЗаказыУслуги] ([id_заказа_услуги], [id_заказа], [id_услуги_лаборатории]) VALUES (2, 2, 229)
INSERT [dbo].[ЗаказыУслуги] ([id_заказа_услуги], [id_заказа], [id_услуги_лаборатории]) VALUES (3, 3, 258)
GO
INSERT [dbo].[ИсторияВхода] ([id_истории_входа], [Id_пользователя], [дата_время_входа]) VALUES (1, 2, CAST(N'2024-05-18T04:08:38.000' AS DateTime))
INSERT [dbo].[ИсторияВхода] ([id_истории_входа], [Id_пользователя], [дата_время_входа]) VALUES (2, 2, CAST(N'2024-05-18T04:15:36.783' AS DateTime))
INSERT [dbo].[ИсторияВхода] ([id_истории_входа], [Id_пользователя], [дата_время_входа]) VALUES (3, 5, CAST(N'2024-05-18T04:15:40.560' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Лаборант] ON 

INSERT [dbo].[Лаборант] ([id_лаборанта], [id_пользователя]) VALUES (1, 2)
INSERT [dbo].[Лаборант] ([id_лаборанта], [id_пользователя]) VALUES (2, 3)
INSERT [dbo].[Лаборант] ([id_лаборанта], [id_пользователя]) VALUES (3, 4)
SET IDENTITY_INSERT [dbo].[Лаборант] OFF
GO
INSERT [dbo].[ЛаборантыУслуги] ([id_лаборанта_услуги], [id_услуги_лаборатории], [id_лаборанта]) VALUES (1, 176, 1)
INSERT [dbo].[ЛаборантыУслуги] ([id_лаборанта_услуги], [id_услуги_лаборатории], [id_лаборанта]) VALUES (2, 229, 2)
INSERT [dbo].[ЛаборантыУслуги] ([id_лаборанта_услуги], [id_услуги_лаборатории], [id_лаборанта]) VALUES (3, 258, 3)
GO
SET IDENTITY_INSERT [dbo].[ОказаниеУслуг] ON 

INSERT [dbo].[ОказаниеУслуг] ([id_оказания_услуг], [id_анализатора], [результат], [id_заказа_услуги], [статус]) VALUES (1, 1, CAST(0.20596 AS Decimal(6, 5)), 1, NULL)
INSERT [dbo].[ОказаниеУслуг] ([id_оказания_услуг], [id_анализатора], [результат], [id_заказа_услуги], [статус]) VALUES (2, 1, CAST(0.32315 AS Decimal(6, 5)), 2, NULL)
INSERT [dbo].[ОказаниеУслуг] ([id_оказания_услуг], [id_анализатора], [результат], [id_заказа_услуги], [статус]) VALUES (3, 1, CAST(0.87765 AS Decimal(6, 5)), 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[ОказаниеУслуг] OFF
GO
SET IDENTITY_INSERT [dbo].[Пациент] ON 

INSERT [dbo].[Пациент] ([id_пациента], [Name], [login], [pwd], [birthdate], [passport_s], [passport_n], [phone], [email], [social_sec_number], [ein], [id_страховой_компании], [guid]) VALUES (2, N'Vasua Beliyh', N'Vasbelka', N'BNB32ns1Dd4', CAST(N'2004-02-16' AS Date), 9999, 725511, N'7 (909) 771-1252', N'blekad.mail.ru', 99982353, N'02-6916370
', 1, N'net4dh99-95aa-4254-8c7e-c9e9270ef3f7
')
INSERT [dbo].[Пациент] ([id_пациента], [Name], [login], [pwd], [birthdate], [passport_s], [passport_n], [phone], [email], [social_sec_number], [ein], [id_страховой_компании], [guid]) VALUES (3, N'Glyn Dunkerly
', N'gdunkerly0
', N'IGU2Q1qifXuf
', CAST(N'2005-02-24' AS Date), 9091, 129038, N'86 (106) 695-3205
', N'gdunkerly0@ted.com
', 93766273, N'04-6439890
', 1, N'da293d99-95aa-4254-8c7e-c9e9270ef3f7
')
INSERT [dbo].[Пациент] ([id_пациента], [Name], [login], [pwd], [birthdate], [passport_s], [passport_n], [phone], [email], [social_sec_number], [ein], [id_страховой_компании], [guid]) VALUES (4, N'Jose Hicks', N'Re345becca', N'inukWZL59nak', CAST(N'1998-01-01' AS Date), 7868, 157713, N'3(937)065-39-07', N'mapot-ujoxu48@internet.ru', 60229600, N'04-6439890', 1, N'da293d99-95aa-4254-8c7e-c9e9270ef301')
GO
SET IDENTITY_INSERT [dbo].[Пациент] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователь] ON 

INSERT [dbo].[Пользователь] ([id_пользователя], [name], [login], [password], [ip], [lastenter], [services], [id_роли]) VALUES (2, N'Sasha Beliy', N'2', N'2', N'139.88.229.111', CAST(N'2005-02-24' AS Date), N'2', 2)
INSERT [dbo].[Пользователь] ([id_пользователя], [name], [login], [password], [ip], [lastenter], [services], [id_роли]) VALUES (3, N'Nasok Fioletoviy', N'3', N'3', N'12.154.73.196', CAST(N'2005-02-24' AS Date), N'3', 3)
INSERT [dbo].[Пользователь] ([id_пользователя], [name], [login], [password], [ip], [lastenter], [services], [id_роли]) VALUES (4, N'Klaviatura Geimerskaya', N'4', N'4', N'147.231.50.234', CAST(N'2005-02-24' AS Date), N'4', 4)
GO
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
GO
INSERT [dbo].[Роль] ([id_роли], [наименование]) VALUES (1, N'клиент')
INSERT [dbo].[Роль] ([id_роли], [наименование]) VALUES (2, N'бухгалтер')
INSERT [dbo].[Роль] ([id_роли], [наименование]) VALUES (3, N'лаборант')
GO
SET IDENTITY_INSERT [dbo].[СтраховаяКомпания] ON 

INSERT [dbo].[СтраховаяКомпания] ([id_страховой_компании], [name], [country], [address], [inn], [ipadress], [pc], [bik]) VALUES (1, N'strah', N'russia', N'moscow', 3453432, N'128.13.6.0', 1234543, 23442)
INSERT [dbo].[СтраховаяКомпания] ([id_страховой_компании], [name], [country], [address], [inn], [ipadress], [pc], [bik]) VALUES (2, N'straheasy', N'russia', N'moscow', 3525517, N'128.256.4.0', 1525637, 25167)
INSERT [dbo].[СтраховаяКомпания] ([id_страховой_компании], [name], [country], [address], [inn], [ipadress], [pc], [bik]) VALUES (3, N'strahpro', N'russia', N'slobodskoy', 4352671, N'128.128.28.0', 6361781, 91272)
SET IDENTITY_INSERT [dbo].[СтраховаяКомпания] OFF
GO
SET IDENTITY_INSERT [dbo].[СчетаСтраховойКомпании] ON 

INSERT [dbo].[СчетаСтраховойКомпании] ([id_счета_страховой_компании], [id_страховой_компании], [сумма], [дата_начала], [дата_окончания]) VALUES (1, 1, 50000.0000, CAST(N'2024-01-01' AS Date), CAST(N'2024-01-10' AS Date))
INSERT [dbo].[СчетаСтраховойКомпании] ([id_счета_страховой_компании], [id_страховой_компании], [сумма], [дата_начала], [дата_окончания]) VALUES (2, 1, 900000.0000, CAST(N'2024-01-01' AS Date), CAST(N'2024-01-10' AS Date))
INSERT [dbo].[СчетаСтраховойКомпании] ([id_счета_страховой_компании], [id_страховой_компании], [сумма], [дата_начала], [дата_окончания]) VALUES (3, 2, 80000.0000, CAST(N'2024-02-01' AS Date), CAST(N'2024-01-11' AS Date))
SET IDENTITY_INSERT [dbo].[СчетаСтраховойКомпании] OFF
GO
INSERT [dbo].[УслугиЛаборатории] ([id_услуги_лаборатории], [наименование], [стоимость], [дата_начала_выполнения], [среднее_отклонение], [дата_окончания_выполнения]) VALUES (176, N'Билирубин общий', 666.0000, CAST(N'2024-02-24' AS Date), 1, CAST(N'2024-03-24' AS Date))
INSERT [dbo].[УслугиЛаборатории] ([id_услуги_лаборатории], [наименование], [стоимость], [дата_начала_выполнения], [среднее_отклонение], [дата_окончания_выполнения]) VALUES (229, N'СПИД', 12000.0000, CAST(N'2024-02-24' AS Date), 2, CAST(N'2024-03-24' AS Date))
INSERT [dbo].[УслугиЛаборатории] ([id_услуги_лаборатории], [наименование], [стоимость], [дата_начала_выполнения], [среднее_отклонение], [дата_окончания_выполнения]) VALUES (258, N'Креатинин', 5555.0000, CAST(N'2024-02-24' AS Date), 3, CAST(N'2024-03-24' AS Date))
GO
INSERT [dbo].[Штрихкод] ([id_штрихкода], [id_заказа], [код_пробирки], [изображение]) VALUES (1, 1, NULL, NULL)
INSERT [dbo].[Штрихкод] ([id_штрихкода], [id_заказа], [код_пробирки], [изображение]) VALUES (2, 2, NULL, NULL)
INSERT [dbo].[Штрихкод] ([id_штрихкода], [id_заказа], [код_пробирки], [изображение]) VALUES (3, 3, NULL, NULL)
GO
ALTER TABLE [dbo].[Бухгалтер]  WITH CHECK ADD  CONSTRAINT [FK_Бухгалтер_СчетаСтраховойКомпании] FOREIGN KEY([id_счета_страховой_компании])
REFERENCES [dbo].[СчетаСтраховойКомпании] ([id_счета_страховой_компании])
GO
ALTER TABLE [dbo].[Бухгалтер] CHECK CONSTRAINT [FK_Бухгалтер_СчетаСтраховойКомпании]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пациент] FOREIGN KEY([id_пациента])
REFERENCES [dbo].[Пациент] ([id_пациента])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пациент]
GO
ALTER TABLE [dbo].[ЗаказыУслуги]  WITH CHECK ADD  CONSTRAINT [FK_ЗаказыУслуги_Заказ] FOREIGN KEY([id_заказа])
REFERENCES [dbo].[Заказ] ([id_заказа])
GO
ALTER TABLE [dbo].[ЗаказыУслуги] CHECK CONSTRAINT [FK_ЗаказыУслуги_Заказ]
GO
ALTER TABLE [dbo].[ЗаказыУслуги]  WITH CHECK ADD  CONSTRAINT [FK_ЗаказыУслуги_УслугиЛаборатории] FOREIGN KEY([id_услуги_лаборатории])
REFERENCES [dbo].[УслугиЛаборатории] ([id_услуги_лаборатории])
GO
ALTER TABLE [dbo].[ЗаказыУслуги] CHECK CONSTRAINT [FK_ЗаказыУслуги_УслугиЛаборатории]
GO
ALTER TABLE [dbo].[ИсторияВхода]  WITH CHECK ADD  CONSTRAINT [FK_ИсторияВхода_Пользователь] FOREIGN KEY([Id_пользователя])
REFERENCES [dbo].[Пользователь] ([id_пользователя])
GO
ALTER TABLE [dbo].[ИсторияВхода] CHECK CONSTRAINT [FK_ИсторияВхода_Пользователь]
GO
ALTER TABLE [dbo].[Лаборант]  WITH CHECK ADD  CONSTRAINT [FK_Лаборант_Пользователь] FOREIGN KEY([id_пользователя])
REFERENCES [dbo].[Пользователь] ([id_пользователя])
GO
ALTER TABLE [dbo].[Лаборант] CHECK CONSTRAINT [FK_Лаборант_Пользователь]
GO
ALTER TABLE [dbo].[ЛаборантыУслуги]  WITH CHECK ADD  CONSTRAINT [FK_ЛаборантыУслуги_Лаборант] FOREIGN KEY([id_лаборанта])
REFERENCES [dbo].[Лаборант] ([id_лаборанта])
GO
ALTER TABLE [dbo].[ЛаборантыУслуги] CHECK CONSTRAINT [FK_ЛаборантыУслуги_Лаборант]
GO
ALTER TABLE [dbo].[ЛаборантыУслуги]  WITH CHECK ADD  CONSTRAINT [FK_ЛаборантыУслуги_УслугиЛаборатории] FOREIGN KEY([id_услуги_лаборатории])
REFERENCES [dbo].[УслугиЛаборатории] ([id_услуги_лаборатории])
GO
ALTER TABLE [dbo].[ЛаборантыУслуги] CHECK CONSTRAINT [FK_ЛаборантыУслуги_УслугиЛаборатории]
GO
ALTER TABLE [dbo].[ОказаниеУслуг]  WITH CHECK ADD  CONSTRAINT [FK_ОказаниеУслуг_Данные анализатора] FOREIGN KEY([id_анализатора])
REFERENCES [dbo].[Анализатор] ([id_анализатора])
GO
ALTER TABLE [dbo].[ОказаниеУслуг] CHECK CONSTRAINT [FK_ОказаниеУслуг_Данные анализатора]
GO
ALTER TABLE [dbo].[ОказаниеУслуг]  WITH CHECK ADD  CONSTRAINT [FK_ОказаниеУслуг_ЗаказыУслуги] FOREIGN KEY([id_заказа_услуги])
REFERENCES [dbo].[ЗаказыУслуги] ([id_заказа_услуги])
GO
ALTER TABLE [dbo].[ОказаниеУслуг] CHECK CONSTRAINT [FK_ОказаниеУслуг_ЗаказыУслуги]
GO
ALTER TABLE [dbo].[Пациент]  WITH CHECK ADD  CONSTRAINT [FK_Пациент_ДанныеСтраховыхКомпаний] FOREIGN KEY([id_страховой_компании])
REFERENCES [dbo].[СтраховаяКомпания] ([id_страховой_компании])
GO
ALTER TABLE [dbo].[Пациент] CHECK CONSTRAINT [FK_Пациент_ДанныеСтраховыхКомпаний]
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD  CONSTRAINT [FK_Пользователь_Роль] FOREIGN KEY([id_роли])
REFERENCES [dbo].[Роль] ([id_роли])
GO
ALTER TABLE [dbo].[Пользователь] CHECK CONSTRAINT [FK_Пользователь_Роль]
GO
ALTER TABLE [dbo].[СчетаСтраховойКомпании]  WITH CHECK ADD  CONSTRAINT [FK_СчетаСтраховойКомпании_СтраховаяКомпания] FOREIGN KEY([id_страховой_компании])
REFERENCES [dbo].[СтраховаяКомпания] ([id_страховой_компании])
GO
ALTER TABLE [dbo].[СчетаСтраховойКомпании] CHECK CONSTRAINT [FK_СчетаСтраховойКомпании_СтраховаяКомпания]
GO
ALTER TABLE [dbo].[Штрихкод]  WITH CHECK ADD  CONSTRAINT [FK_Штрихкод_Заказ] FOREIGN KEY([id_заказа])
REFERENCES [dbo].[Заказ] ([id_заказа])
GO
ALTER TABLE [dbo].[Штрихкод] CHECK CONSTRAINT [FK_Штрихкод_Заказ]
GO
USE [master]
GO
